<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room reservation</title>
</head>
<body>
    <h1>Conference Room Assigment System HMI</h1>
    <h3>You can just call me CRASH!</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <table>
        <thead>
            <tr>
                <th>Reservation Dates</th>
                <th>Reservation comments</th>
            </tr>
        </thead>
        <tbody>
            <td>
                {% for reservation in reservations %}
                    <p>{{ reservation.reservation_date }}</p>
                {% endfor %}
            </td>
            <td>
                {% for reservation in reservations %}
                    <p>{{ reservation.reservation_comment }}</p>
                {% endfor %}
            </td>
        </tbody>
    </table>
    <h2>Navigation menu</h2>
    <p><a href="{% url 'main' %}">Main menu</a></p>
</body>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: navy;
  color: deepskyblue;
  text-align: center;
}
</style>
<div class="footer">
  <p>Author: Tomasz Boś</p>
</div>
</html>