<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRASH - room list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<style>
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: lightgray;
    text-align: center;
  }
  .titles {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #B9BDBE;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    }
</style>
<body>
    <div class="navbar navbar-dark bg-dark titles">
        <h3>Conference Room Assigment System HMI - CRASH</h3><br>
    </div>
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">System rezerwacji sal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'all_rooms' %}">All conference rooms<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'new_room' %}">Add a conference room</a>
          <a class="nav-item nav-link" href="{% url 'search_rooms' %}">Search for a conference room</a>
          <a class="nav-item nav-link" href="{% url 'main' %}">Main menu</a>
        </div>
      </div>
    </nav>
    <!-- Nav -->
    <!-- table -->
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th scope="col" class="col-2">Conference Room Name</th>
          <th scope="col" class="col-1">Capacity</th>
          <th scope="col" class="col-1" colspan="4">Has projector</th>
          <th scope="col" class="col-2">Description</th>
          <th scope="col" class="col-1">Conference Room available today</th>
          <th scope="col" class="col-1">Edit Room</th>
          <th scope="col" class="col-1">Delete Room</th>
          <th scope="col" class="col-2">Reservations</th>
        </tr>
      </thead>
    <form action="" method="POST">
        {% csrf_token %}
        <tbody>
            {% for room in rooms %}
                <tr class="d-flex">
                    <th scope="row" class="col-2"><a href="{% url 'room' room_id=room.pk %}">{{ room.room_name }}</a></th>
                    <td class="col-1">{{ room.room_capacity }}</td>
                    {% if room.room_projector %}
                        <td class="col-1" style="color:green;">&#9745;</td>
                    {% else %}
                        <td class="col-1" style="color:red;">&#9746;</td>
                    {% endif %}
                    <td class="col-2">{{ room.room_description }}</td>
                    {% if room not in reservations %}
                        <td class="col-1" style="color:green;">&#9745;</td>
                    {% else %}
                        <td class="col-1" style="color:red;">&#9746;</td>
                    {% endif %}
                    <td class="col-1"><a href="{% url 'edit_room' room_id=room.pk %}">Edit Room</a></td>
                    <td class="col-1"><a href="{% url 'delete_room' room_id=room.pk %}">Delete Room</a></td>
                    <td class="col-2"><a href="{% url 'reserve_room' room_id=room.pk %}">Conference Room Reservation</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</body>
<!-- Footer -->
<footer class="footer">
      <div class="container">
        <span class="text-muted">Tomasz Boś</span>
      </div>
    </footer>
<!-- Footer -->
</html>