<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room details</title>
</head>
<body>
    <h1>Conference Room Assigment System HMI</h1>
    <h3>You can just call me CRASH!</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <table style="width:100%">
            <thead>
            <tr>
                <th>Conference Room Name</th>
                <th>Capacity</th>
                <th>Has projector</th>
                <th>Description</th>
                <th>Reservation Dates</th>
                <th>Reservation comments</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ room.room_name }}</td>
                    <td>{{ room.room_capacity }}</td>
                    <td>{{ room.room_projector }}</td>
                    <td>{{ room.room_description }}</td>
                    <td>
                        {% for reservation in reservations %}
                            <p>{{ reservation.reservation_date }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for reservation in reservations %}
                            <p>{{ reservation.reservation_comment }}</p>
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'edit_room' room_id=room.pk %}">Edit Conference Room</a></td>
                    <td><a href="{% url 'delete_room' room_id=room.pk %}">Delete Conference Room</a></td>
                    <td><a href="{% url 'reserve_room' room_id=room.pk %}">Conference Room Reservation</a></td>
                </tr>
            </tbody>
        </table>
    </form>
    <h2>Navigation menu</h2>
    <p><a href="{% url 'main' %}">Main menu</a></p>
    <p><a href="{% url 'all_rooms'%}">All available conference rooms</a></p>
</body>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: navy;
  color: deepskyblue;
  text-align: center;
}
</style>
<div class="footer">
  <p>Author: Tomasz Boś</p>
</div>
</html>